body{
  margin-top:20px;
  background:#eee;
}
.widget-container {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
  margin-bottom: 30px
}

.widget-container .widget {
  margin-bottom: 0
}

.widget-container>.row {
  margin-right: 0 !important;
  margin-left: 0 !important
}

.widget-container>.row>[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important
}

.widget {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: #fff;
  font-weight: 300;
  margin-bottom: 30px;
  position: relative;
  vertical-align: middle
}

.widget .row {
  font-size: 0;
  margin-left: 0;
  margin-right: 0
}

.widget .row:before {
  display: none
}

.widget .row .col {
  font-size: 11px
}

.widget .row .col:first-child {
  -webkit-border-radius: 2px 0 0 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 0 0 2px;
  -moz-background-clip: padding;
  border-radius: 2px 0 0 2px;
  background-clip: padding-box
}

.widget .row .col:last-child {
  -webkit-border-radius: 0 2px 2px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 2px 2px 0;
  -moz-background-clip: padding;
  border-radius: 0 2px 2px 0;
  background-clip: padding-box
}

.widget .col {
  display: inline-block;
  vertical-align: top
}

.widget [class*=col-] {
  font-size: 11px;
  margin: 0;
  padding: 0
}

.widget .widget-stat {
  position: absolute
}

.widget .widget-stat.top {
  top: 7px
}

.widget .widget-stat.right {
  right: 10px
}

.widget .widget-stat.left {
  left: 10px
}

.widget .widget-stat.bottom {
  bottom: 7px
}

.widget .widget-stat strong,
.widget .widget-stat span,
.widget .widget-stat i,
.widget .widget-stat div {
  vertical-align: top
}

.widget .progress {
  margin-bottom: 0
}

.profile-card .card-header .header-avatar {
  text-align: center
}

.profile-card .card-header .header-avatar img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden
}


.profile-card .card-header .header-name {
  font-size: 20px;
  font-weight: 400;
  text-align: center
}

.profile-card .card-body {
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: 30px;
  min-height: 100px;
  padding: 50px 20px
}

.profile-card .card-body .body-description {
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  color: #fff;
  font-size: 15px
}

.profile-card .card-footer {
  margin-top: 70px;
  padding: 10px 0 20px
}

.profile-card .card-footer .footer-social {
  text-align: center
}

.profile-card .card-footer .footer-social .row {
  margin: 0
}

.profile-card .card-footer .footer-social i {
  color: #292929;
  font-size: 20px
}

.bg-primary {
  background-color: #29cabd !important;
  color: #fff !important
}

.bg-success {
  background-color: #29cabd  !important;
  color: #fff !important
}

.bg-info {
  background-color: #29cabd  !important;
  color: #fff !important
}

.bg-warning {
  background-color: #ffc107 !important;
  color: #fff !important
}

.bg-danger {
  background-color: #990a00 !important;
  color: #fff !important
}

.bg-inverse {
  background-color: #fefefe !important;
  color: #292929 !important
}

.bg-white {
  background-color: #fff !important;
  color: #292929 !important
}

.bg-transparent {
  background-color: transparent !important
}

.bg-body {
  background-color: #f1f3f2 !important
}

.bg-highlight {
  background-color: #ff8
}

.bg-default-darker {
  background-color: #212121
}

a {
  color: #ffffff;
}

.mar-r{
  margin-right: 10px;
}

.mar-t {
  margin-top: 20px;
}

.margen {
  margin-top: 40px;
} 

.mar-b {
  margin-bottom: 40px;
}
/* copyright */

.deneb_footer .copyright_area {
  background: #edecf0;
  padding: 10px 0;
}
.deneb_footer .copyright_area .copyright_text {
  text-align: center;
}
.deneb_footer .copyright_area .copyright_text p {
  color: #353535;
}
.deneb_footer .copyright_area .copyright_text p span {
  color: #feb000;
}