/* nav bar */

body {
    background: #080a0b;
    color: #fff;
}

ul{
    list-style-type:none;
    display:flex;
    text-align:center;
}


ul li{
    display:inline-block;
    margin-left: 15px;       
    position: center;
}

.margin {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;

}




/* fin navbar*/

/**/
