  <!-- ----------------------------------------------------->
  <div class="container" id="main-container"  *ngFor="let persona of persona">
  <div class="img mar-1" style="background-image: url(https://www.norte.com/img/2018/11/parque-nacional-talampaya.jpg);height: 400px;background-size: cover;"></div>
        <div class="card social-prof">
            <div class="card-body">
                <div class="wrapper mx-auto">
                    <img src="{{persona.url_img}}" alt="Foto de perfil" class="user-profile">
                    <h2>{{persona.nombre}} {{persona.apellido}}</h2>
                    <p>{{persona.ocupacion}}</p>
                    <p><i class="fa fa-map-marker"></i> {{persona.ubicacion}}</p>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                       <h5>{{persona.sobremi}}</h5>
                    </div>
                </div>
        <div> 
        <div class="modals float-right">
        <div class="row">
            <button type="button" class="btn btn-outline-info float-right" (click)="onOpenModal(null, 'add')" *ngIf="isLogged">Agregar <i class="fa fa-plus"></i></button> 
            <div class="a1" >
                    <a  (click)="onOpenModal(persona, 'edit')" *ngIf="isLogged" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                    <a  (click)="onOpenModal(persona, 'delete')" *ngIf="isLogged" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
        </div>
        </div>
                                
        </div>
                </div>
        </div>
  </div>

    
<!-- -->

<!-- Add Modal -->
<div class="modal fade" id="addPersonaModal" tabindex="-1" role="dialog" aria-labelledby="addPersonaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addPersonaModalLabel">Agregar nuevo Usuario:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddPersona(addForm)">
            <div class="form-group">
               <label for="name">Persona:</label>
               <input type="text" ngModel="{{editPersona?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" required>
              </div>
              <input type="hidden" ngModel="{{editPersona?.id}}" name="id" class="form-control" id="id">
              <input type="hidden" ngModel="{{editPersona?.nombre}}" name="nombre" class="form-control" id="nombre">
              <div class="form-group">
               <label for="email">Apellido:</label>
               <input type="email" ngModel="{{editPersona?.apellido}}" name="apellido" class="form-control" id="apellido">
            </div>
            <div class="form-group">
               <label for="email">Url de Foto de Perfil:</label>
               <input type="email" ngModel="{{editPersona?.url_img}}" name="url_img" class="form-control" id="url_img">
            </div>     
              <div class="form-group">
                 <label for="email">Ubicación:</label>
                 <input type="email" ngModel="{{editPersona?.ubicacion}}" name="ubicacion" class="form-control" id="email">
              </div>
            <div class="form-group">
               <label for="email">Ocupación:</label>
               <input type="email" ngModel="{{editPersona?.ocupacion}}" name="ocupacion" class="form-control" id="ocupacion">
            </div>
            <div class="form-group">
               <label for="email">Email:</label>
               <input type="email" ngModel="{{editPersona?.email}}" name="email" class="form-control" id="email">
            </div>
            <div class="form-group">
               <label for="email">Sobre mí:</label>
               <input type="email" ngModel="{{editPersona?.sobremi}}" name="sobremi" class="form-control" id="sobremi">
            </div>                  
            <div class="modal-footer">
               <button type="button" id="add-persona-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Guardar Cambios</button>
            </div>
            </form>
         </div>
      </div>
    </div>
           </div>
  
          <!-- Edit Modal -->
          <div class="modal fade" id="updatePersonaModal" tabindex="-1" role="dialog" aria-labelledby="PersonaEditModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="updatePersonaModalLabel">Editar Persona {{editPersona?.nombre}}</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <form #editForm="ngForm">
                        <div class="form-group">
                           <label for="name">Nombre:</label>
                           <input type="text" ngModel="{{editPersona?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" required>
                          </div>
                          <input type="hidden" ngModel="{{editPersona?.id}}" name="id" class="form-control" id="id">
                          <input type="hidden" ngModel="{{editPersona?.nombre}}" name="nombre" class="form-control" id="nombre">
                          <div class="form-group">
                           <label for="email">Apellido:</label>
                           <input type="email" ngModel="{{editPersona?.apellido}}" name="apellido" class="form-control" id="apellido">
                        </div>
                        <div class="form-group">
                           <label for="email">Url de Foto de Perfil:</label>
                           <input type="email" ngModel="{{editPersona?.url_img}}" name="url_img" class="form-control" id="url_img">
                        </div>     
                          <div class="form-group">
                             <label for="email">Ubicación:</label>
                             <input type="email" ngModel="{{editPersona?.ubicacion}}" name="ubicacion" class="form-control" id="ubicacion">
                          </div>
                        <div class="form-group">
                           <label for="email">Ocupación:</label>
                           <input type="email" ngModel="{{editPersona?.ocupacion}}" name="ocupacion" class="form-control" id="ocupacion">
                        </div>
                        <div class="form-group">
                           <label for="email">Email:</label>
                           <input type="email" ngModel="{{editPersona?.email}}" name="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                           <label for="email">Sobre mí:</label>
                           <input type="email" ngModel="{{editPersona?.sobremi}}" name="sobremi" class="form-control" id="sobremi">
                        </div>                  
                        <div class="modal-footer">
                           <button type="button" id="add-persona-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                           <button (click)="onUpdatePersona(editForm.value)" type="submit" class="btn btn-primary" >Guardar Cambios</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
          </div>
          
          <!-- Delete Modal -->
        <div class="modal fade" id="deletePersonaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="deleteModelLabel">Eliminar Usuario:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <p>Seguro que quiere eliminar: {{deletePersona?.nombre}}?</p>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                     <button (click)="onDeletePersona(deletePersona?.id)" class="btn btn-danger" data-dismiss="modal">Sí</button>
                  </div>
               </div> 
            </div>
         </div>
       </div>
       
       
       <!-- Notificación si no hay estudios -->
       <div *ngIf="persona?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
       <div class="alert alert-info" role="alert">
         <h4 class="alert-heading">Error!</h4>
         <p>No se encontraron usuarios.</p>
       </div>
       </div>


        