<!--     <div class="col-lg-12" class="main-container">
        <div class="card text-center" *ngFor="let persona of persona">                  
                <div class="float-right btn-group btn-group-sm">             
                </div>             
            <div class="card-body info-card social-about"> 
                <a (click)="onOpenModal(persona, 'edit')"class="btn btn-primary tooltips float-right" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(persona, 'delete')" class="btn btn-secondary tooltips float-right" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>               
                             
                <h4><strong>About Me</strong></h4>                
                <p>{{persona.sobremi}} </p>
                
                <h4 class="mb-3"><strong>Personal Info</strong></h4>
                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fa-birthday-cake mr-2"></i>
                            <span >15/08/1991</span>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fa-map-marker-alt mr-2"></i>
                                                                            
                            <span>{{persona.ubicacion}}</span>
                        
                        </div>
                        </div>
                    
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-users mr-2"></i>
                            <span>Female</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fa-briefcase mr-2"></i>
                            <span>{{persona.ubicacion}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-mobile mr-2"></i>
                            <span>{{persona.telefono}}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="social-info">
                            <i class="fas fas fa-envelope mr-2"></i>
                            <span>{{persona.email}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
 -->


    <div class="container" id="main-container">
        <button type="button" class="btn btn-outline-info float-right" (click)="onOpenModal(null, 'add')">Agregar nueva skill</button> 
        <h5 class="resume-experience-title">...</h5>
        <br>
        <div class="row">
            <div class="col-lg-12"*ngFor="let persona of persona" >
                <div class="card card-margin">
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                              <div class="container">
                                <br>
                                <div class="left">
                                <h5>Acerca de:</h5></div>
                               </div>
                              <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width:30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">%</div>
                              </div>
                              <div class="center">
                              <img class="rounded-circle" width="30" src="" alt="">
                              </div>
                              <div class="float-right btn-group btn-group-sm">
                    <a  (click)="onOpenModal(persona, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                    <a  (click)="onOpenModal(persona, 'edit')"class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                            </div>
                            </div>
    
                            
                        </div>
                    </div>
                </div>
            </div>



